---
import { Hero } from "@modules/Hero";
import Layout from "../layouts/Layout.astro";
import { About } from "@modules/About";
import { Projects } from "@modules/Projects";
import { LogosSlider } from "@modules/LogosSlider";
import { Contact } from "@modules/Contact";

import { HomepageData } from "@modules/Projects/data/HomepageData";
---

<Layout
    title="Renato Lagos - Portfolio"
    description="Renato Lagos is a full-stack developer from Moncton. I build web applications and websites for clients and myself."
>
    <main class="page-content">
        <Hero client:load />
        <LogosSlider client:visible />
        <About client:visible />
        <Projects data={HomepageData} client:visible />
        <Contact client:visible />
    </main>
</Layout>
